
.defaultSpacingRemoval{
	margin: 0px;
	padding: 0px;
}

.menuoptions{
	list-style-type: none; 
	display:inline-block;
	padding: 5px 15px;
	
	border: 1px solid black;
	background-color: #E9E9E9;
	border-radius:5px;
	
	margin:5px 3px 5px 3px;

}
.inlinelist{
	list-style-type: none; 
	display:inline-block;
	padding: 5px 15px;
	
	border: 2px solid black;
	background-color: #CDCDCD;
	border-radius:5px;
	
	margin: 1%;

}
#inlineleft{
	margin-left:2%;
}


h2{
	margin: 0% 1% 0% 3%;
	padding: 0.6% 0%;
	display:inline-block;
	float: left;
	color:;
	
}

.endTitle{
	width: 100%;
	height: 15%;
	background-color: #88BBD6;
	box-shadow: 0px 0px 10px #000;
	overflow: hidden;
	/*
	The overflow property specifies what happens 
	if content overflows an element's box. This property 
	specifies whether to clip content or to add scrollbars 
	when an element's content is too big to fit in a specified area. 
	Note: The overflow property only works for block elements with a specified height.
	*/
}


.changecolor{
	background-color:red;
}

.circle {
	width: 10px;
	height: 20px;
	background-color: #DAF24E;
	border: 1px solid black;
	border-radius: 100%;
}

ul li a:hover {
	/*background-color: #CDCDCD;*/ 
	color: #333333;

}

.rightalign{
	/*float: right;*/
	clear: both;
	padding:0% 2% 0% 5%;
}


#clearTitle{
	margin:20px 0px 10px 0px;
	font-weight:700;
	
}

.boldtext{
	font-weight:bold;
}
.movefromleft{
	margin-left:2%;
	margin-top: 10%;
}
.movefromright{
	margin-right:2%;
}
.programImage{
	margin:1%;
	width:10%;
	height:10%;
}

.clearboth{
	clear: both;
	float: right;
}

.clearLeft{
	clear: left;
}
#macphoto{
	width:40%;
	height:16%;
	margin: 2% 30%;
	

} 

#macphoto2{
	width:40%;
	height:16%;
	margin: 2% 30%;
	display: none;
	

} 
#MacInnerMap{
	margin-top:2%;
	float: right;
	width: 600px;
	height: 450px;

}
#MacInnerMap2{
	
	display: none;

}
#MacMapping{
	margin-right:5%;
	margin-top:2%;
	float: right;
	width: 600px;
	height: 800px;

}

.aligntext{
	text-align:center;
}
#resumeBox{
	float: left;
	border: 5px solid #99D3DF;
	border-radius: 2%;
	margin:2% 0% 0% 2%;
	text-align: center;
	padding: 10px;

}

#resumeButton{
	color: white;
	background-color: #39ac39;
	padding: 2px;
	border: 1px solid #1f2e2e;
	border-radius: 2px;
}
#resumeButton:hover{
	
	background-color: #66a3ff;
}


@media only screen and (min-width: 725px) and (max-width: 1050px) {
	#MacInnerMap{
		margin-top:2%;
		float: right;
		width: 400px;
		height: 350px;

	}
	#MacMapping{
		margin-right:5%;
		margin-top:2%;
		float: right;
		width: 400px;
		height: 600px;

	}   	
  
}

@media only screen and (min-width: 540px) and (max-width: 725px) {
   	#MacInnerMap{
		margin-top:2%;
		float: right;
		width: 250px;
		height: 250px;

	}
	#MacMapping{
		margin-right:2%;
		margin-top:2%;
		float: right;
		width: 250px;
		height: 400px;

	}  
    
}

@media only screen and (min-width: 100px) and (max-width: 540px) {
   	#resumeBox{
   		float: right;
   	}
	#MacInnerMap{
		margin-top:2%;
		float: right;
		width: 250px;
		height: 250px;

	}
	#MacMapping{
		margin-right:2%;
		margin-top:2%;
		float: right;
		width: 250px;
		height: 400px;
		clear: both;
		display: none;
	} 

	#macphoto2{
	width:40%;
	height:16%;
	margin: 2% 30%;
	display: inline;
	

	} 
	#MacInnerMap2{
		margin-top:2%;
		float: right;
		width: 250px;
		height: 250px;
		display: inline;

	}
	#MacMapping2{
		margin-right:2%;
		margin-top:2%;
		float: center;
		width: 250px;
		height: 400px;
		clear: both;
		display: inline;
		
	}   
    
}

@media only screen and (max-width: 300px) {
    .movefromleft{
    	clear: both;
    }
    #resumeBox{
    	float: left;
    	width: 120px;
    }
}
