
.defaultSpacingRemoval{
	margin: 0px;
	padding: 0px;
}

.menuoptions{
	list-style-type: none; 
	display:inline-block;
	padding: 5px 15px;
	
	border: 1px solid black;
	background-color: #E9E9E9;
	border-radius:5px;
	
	margin:5px 3px 5px 3px;

}
.inlinelist{
	list-style-type: none; 
	display:inline-block;
	padding: 5px 15px;
	
	border: 2px solid black;
	background-color: #CDCDCD;
	border-radius:5px;
	
	margin: 1%;

}
#inlineleft{
	margin-left:2%;
}


h2{
	margin: 4px 0px 2px 10px;
	display:inline-block;
	float: left;
	color:;
	
}

.endTitle{
	width: 100%;
	height: 80px;
	background-color: #88BBD6;
	box-shadow: 0px 0px 10px #000;
	overflow: hidden;
	border-bottom: 1px solid black;
	/*
	The overflow property specifies what happens 
	if content overflows an element's box. This property 
	specifies whether to clip content or to add scrollbars 
	when an element's content is too big to fit in a specified area. 
	Note: The overflow property only works for block elements with a specified height.
	*/
}


ul li a:hover {
	/*background-color: #CDCDCD;*/ 
	color: #333333;

}

.rightalign{
	/*float: right;*/
	clear: both;
	padding:0% 2% 0% 5%;
}

.clear{
	clear: both;
	
}
#clearTitle{
	margin:20px 0px 10px 0px;
	font-weight:700;
	
}

.boldtext{
	font-weight:bold;
}
.movefromleft{
	margin-left:2%;
}
.movefromright{
	margin-right:2%;
}


.clearboth{
	clear: both;
	float: right;
}

.centerText{
	text-align: center;
	float: center;

}
#viewSimulation {
	width: 60%;
	margin: 2% 20%;
	color: white;
	background-color: #39ac39;
	padding: 2px;
	border: 1px solid #1f2e2e;
	border-radius: 2px;

}

#viewSimulation:hover{
	
	background-color: #66a3ff;
}

.box{
	
	padding: 2px;
	border: 1px solid #80b3ff;
	

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#ParticleVideo{
	width: 80%;
	height: 380px;
	margin: 0% 10%;

}


.bar{
	width: 24px;
	height: 3px;
	background-color: white;
	border: 1px solid white;
	border-radius: 20%;
	margin: 4px;

}
#selector{
	float: right;
	width: 42px;
	height: 36px;
	padding: 0px;
	margin: 2px 6px;
	border: 1px solid black;
	border-radius: 5%;
	padding: 4px;
	clear: both;
	display: none;
	cursor: pointer;
	outline: none;
	
}
#selector:hover{
	
	background-color: #527a7a;

}

#contentOptions {
    padding: 0 18px;
    
    background-color: #88BBD6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 1030;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    /*content: "\2796";*/ /* Unicode character for "minus" sign (-) */
}

.dropoptions{
	list-style-type: none; 

}

.dropoptions a{
	color: white;
	
	
}



@media only screen and (max-width: 735px) {
    #nav{
    	display: none;
    }

    #selector{
    	display: inline;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1050px) {
	#ParticleVideo{
		height: 200px;
	} 	
  
}


@media only screen and (min-width: 100px) and (max-width: 500px) {
	.box{
		clear: both;
	}
    
}



