
html { 
  background: url(../images/outParticles_Sample.bmp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3, h5{
    color: white;
    z-index: 1030;
}
#centralImage{
    width: 30%;
    height: 30%;
    clear: both;

}

.defaultSpacingRemoval{
	margin: 0px;
	padding: 0px;
}

.container{
    float: left;
    margin: 5% 0;
    padding: 20px;
}

.textBubble{
    margin: 2%;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    color: black;
}

:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    /*These next two adjoust the left and then the right of the transition*/
    --dot-w: calc(var(--btn-w)*0.1);
    --tr-X: calc(var(--btn-w) - var(--btn-w)*.25);
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}



.btn {
    position: absolute;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    cursor: pointer;    
}
.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}
.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
                0 0 2em var(--primary);
}
.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}
@keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
}



.linkstyleremove{
	text-decoration: none;
	color:#78FFCD;
}


.textHeader{
    font-size:14px;
}



