
html { 
  background: url(../images/outParticles_Sample.bmp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3, h5{
    color: white;
    z-index: 1030;
}


#centralImage{
    width: 30%;
    height: 30%;
    margin: 0% 35%;
    clear: both;
    margin-top: 150px;

}

.defaultSpacingRemoval{
	margin: 0px;
	padding: 0px;
}

.textBubble{
    margin: 2%;
    width: 160px;
    height: 160px;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    color: black;
    padding: 20px;
    text-align: center;
}

 #Astronaut{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 400px;
    top: 220px;
 }
#Earth{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 325px;
    bottom: 180px;
}
#ManOnMoon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1050px;
    top: 100px;
}
#Jupiter{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 870px;
    top: 390px;
 }
#Mars{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 900px;
    bottom: 60px;
}
#Mercury{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 100px;
    top: 110px;
}
#Saturn{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50px;
    top: 300px;
}
#Venus{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 300px;
}
#Neptune{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: 770px;
}

#credit{
    color: white;
    font-size: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


#AboutLocation{
    position: fixed;
    top: 50px;
    left: 50px;

}
#EducationLocation{
    width: 20%;
    height: 30%;
    margin: 100px 40% 0px 40%;

}
#ProjectsLocation{
    position: fixed;
    top: 50px;
    right: 250px;

}
#WorkLocation{
    position: fixed;
    top: 150px;
    left: 50px;

}

#ContactLocation{
    position: fixed;
    top: 150px;
    right: 250px;

}

#star1{
    position: absolute;
    left: 550px;
    top: 600px;

}

#star2{
    position: absolute;
    top: 350px;
    left: 170px;

}

#star3{
    position: absolute;
    top: 120px;
    left: 680px;

}

#star4{
    position: absolute;
    top: 280px;
    left: 1100px;

}

#shuttle1{
    position: absolute;
    bottom: 50px;
    left: 220px;

}
#shuttle2{
    position: absolute;
    top: 100px;
    left: 560px;

}
#nav{
    position: absolute;
    width: 140px;
    height: 180px;
    color: green;
    background-color: white;
    border: 1px solid black;
    margin-left: 5px;
    display: none;
}





:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    /*These next two adjoust the left and then the right of the transition*/
    --dot-w: calc(var(--btn-w)*0.1);
    --tr-X: calc(var(--btn-w) - var(--btn-w)*.25);
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}



.btn {
    
    position: absolute;

    margin: 0 auto;

    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);

    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    cursor: pointer; 

}
.dot {
    
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;

}
.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
                0 0 2em var(--primary);
}
.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}
@keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
}
.mainText{
    clear: both;
    text-align: center;
    margin-top: 2%;
   /* position: absolute;
    top: 50%;
    left: 40%;*/

}


.linkstyleremove{
	text-decoration: none;
	color:#78FFCD;
}


.textHeader{
    font-size:14px;
}

#text1{
    position: fixed;
    bottom: 10px;
    left: 5px;

}
#text2{
    position: fixed;
    bottom: 10px;
    right: 5px;

}

#text2{

}
@media only screen and (min-width: 1200px) {
   
   #centralImage{
        width: 400px;
        height: 300px;
        /*display: block;*/
        margin-left: 35%;
        margin-right: 35%;
        clear: both;
        /*position: absolute;*/
        top: 0px;
    } 
    

    .mainText{
        clear: both;
        text-align: center;
        margin-top: 25px;
       /* position: absolute;
        top: 50%;
        left: 40%;*/

    }
}

@media only screen and (min-width: 630px) and (max-width: 860px) {
    #EducationLocation{
        width: 40%;
        height: 30%;
        margin: 100px 45% 0px 35%;

    }   
  
}

@media only screen and (max-width: 630px) {
    #centralImage{
        margin-top: 250px;
    } 
    #EducationLocation{
        width: 40%;
        height: 30%;
        margin: 5px 45% 0px 35%;

    } 


    #AboutLocation{
        position: fixed;
        top: 70px;
        left: 50px;

    }

    #ProjectsLocation{
        position: fixed;
        top: 70px;
        right: 250px;

    }
    #WorkLocation{
        position: fixed;
        top: 150px;
        left: 50px;

    }

    #ContactLocation{
        position: fixed;
        top: 150px;
        right: 250px;

    }  
  
}

@media only screen and (max-width: 480px)  {
    #centralImage{
        margin-top: 250px;
    } 
    #EducationLocation{
        display: none;

    } 


    #AboutLocation{
        display: none;

    }

    #ProjectsLocation{
        display: none;

    }
    #WorkLocation{
        display: none;

    }

    #ContactLocation{
        display: none;

    }  
    #nav{
        display: inline;
    }

    
  
}



